<div class="jumbotron">
  <h1 class="display-4">Esse é um projeto em NodeJS</h1>
  <p class="lead">Este é um projeto de um Blog em NodeJS + MongoDB + Express</p>
  <hr class="my-4">
  <p>Feito pelo Maizena#8033</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes:</h2>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body"> 
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}" class="btn btn-outline-primary">Leia mais</a>
            <hr>
            <small>Categoria: {{categoria.nome}}</small>
            <br>
            <small>Data de publicação: {{data}}</small>
        </div>
    </div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}